@import "tailwindcss";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  background: #f5f0f0;
  color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px !important;
  height: 10px !important;
}
::-webkit-scrollbar-thumb {
  background: #ff5252;
}
::-webkit-scrollbar-track {
  background: #fff;
}

.container {
  width: 95%;
  margin: auto;
}

header .top-strip {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.bg-org {
  background: #ff5252;
}
.link:hover {
  color: #ff5252;
}

.MuiBadge-badge {
  background-color: #ff5252 !important;
}

nav ul button {
  text-transform: capitalize !important;
  color: rgba(0, 0, 0, 0.7) !important;
}

nav ul button:hover {
  background: none !important;
}
.swiper-button-prev,
.swiper-button-next {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  background: #fff;
  border-radius: 100%;
  width: 45px;
  min-width: 45px;
  height: 45px;
  box-shadow: 0px 1px 3px #000001f, 0px 1px 2px #000003d !important;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  color: #000 !important;
  font-size: 22px !important;
}

.smlBtn .swiper-button-prev,
.smlBtn .swiper-button-next {
  width: 30px !important;
  height: 30px !important;
  min-width: 30px !important;
  top: 50% !important;
}
.smlBtn .swiper-button-prev:hover {
  background: #ff5252 !important;
  color: #fff !important;
}
.smlBtn .swiper-button-prev:hover::after {
  color: white !important;
}
.smlBtn .swiper-button-next:hover {
  background: #ff5252 !important;
}
.smlBtn .swiper-button-next:hover::after {
  color: white !important;
}

.homeCatSlider .swiper-button-prev {
  width: 30px;
  height: 30px;
  min-width: 30px;
}
.homeCatSlider .swiper-button-prev:hover {
  background: #ff5252 !important;
}
.homeCatSlider .swiper-button-prev:hover::after {
  color: #fff !important;
}
.homeCatSlider .swiper-button-prev:after {
  font-size: 18px !important;
}
.homeCatSlider .swiper-button-next {
  width: 30px;
  height: 30px;
  min-width: 30px;
}
.homeCatSlider .swiper-button-next:hover {
  background: #ff5252 !important;
  color: #fff !important;
}
.homeCatSlider .swiper-button-next:after {
  font-size: 18px !important;
}
.homeCatSlider .swiper-button-next:hover::after {
  color: #fff !important;
}
.homeCatSlider .item {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.homeCatSlider .item img {
  transition: all 0.3s ease-in-out;
}

.homeCatSlider .item:hover img {
  transform: scale(1.1);
}

.MuiTabs-indicator {
  background-color: #ff5252 !important;
}
.MuiTab-textColorPrimary.Mui-selected {
  color: #ff5252 !important;
}

.productsSlider .swiper-wrapper {
  padding: 15px;
  margin-left: -15px;
  margin-right: -15px;
}
