@import "tailwindcss";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  background: #f5f0f0;
  color: #3e3e3e;
  overflow-x: hidden;
}
p {
  font-size: 14px !important;
  line-height: 25px !important;
  margin-bottom: 10px !important;
  margin-top: 10px !important;
}

::-webkit-scrollbar {
  width: 10px !important;
  height: 10px !important;
}
::-webkit-scrollbar-thumb {
  background: #ff5252;
}
::-webkit-scrollbar-track {
  background: #fff;
}

.scroll::-webkit-scrollbar {
  width: 5px !important;
}
.scroll::-webkit-scrollbar-thumb {
  background: #ccc;
}

.container {
  width: 95%;
  margin: auto;
}

header .top-strip {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.bg-org {
  background: #ff5252;
}
.link:hover {
  color: #ff5252;
}

.MuiBadge-badge {
  background-color: #ff5252 !important;
}

nav ul button {
  text-transform: capitalize !important;
  color: rgba(0, 0, 0, 0.7) !important;
}

nav ul button:hover {
  background: none !important;
}
.swiper-button-prev,
.swiper-button-next {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  background: #fff;
  border-radius: 100%;
  width: 45px;
  min-width: 45px;
  height: 45px;
  box-shadow: 0px 1px 3px #000001f, 0px 1px 2px #000003d !important;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  color: #000 !important;
  font-size: 22px !important;
}

.smlBtn .swiper-button-prev,
.smlBtn .swiper-button-next {
  width: 30px !important;
  height: 30px !important;
  min-width: 30px !important;
  top: 50% !important;
}
.smlBtn .swiper-button-prev:hover {
  background: #ff5252 !important;
  color: #fff !important;
}
.smlBtn .swiper-button-prev:hover::after {
  color: white !important;
}
.smlBtn .swiper-button-next:hover {
  background: #ff5252 !important;
}
.smlBtn .swiper-button-next:hover::after {
  color: white !important;
}

.homeCatSlider .swiper-button-prev {
  width: 30px;
  height: 30px;
  min-width: 30px;
}
.homeCatSlider .swiper-button-prev:hover {
  background: #ff5252 !important;
}
.homeCatSlider .swiper-button-prev:hover::after {
  color: #fff !important;
}
.homeCatSlider .swiper-button-prev:after {
  font-size: 18px !important;
}
.homeCatSlider .swiper-button-next {
  width: 30px;
  height: 30px;
  min-width: 30px;
}
.homeCatSlider .swiper-button-next:hover {
  background: #ff5252 !important;
  color: #fff !important;
}
.homeCatSlider .swiper-button-next:after {
  font-size: 18px !important;
}
.homeCatSlider .swiper-button-next:hover::after {
  color: #fff !important;
}
.homeCatSlider .item {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.homeCatSlider .item img {
  transition: all 0.3s ease-in-out;
}

.homeCatSlider .item:hover img {
  transform: scale(1.1);
}

.MuiTabs-indicator {
  background-color: #ff5252 !important;
}
.MuiTab-textColorPrimary.Mui-selected {
  color: #ff5252 !important;
}

.productsSlider .swiper-wrapper {
  padding: 15px;
  margin-left: -15px;
  margin-right: -15px;
}

.btn-org {
  background: #ff5252 !important;
  color: #fff !important;
  font-weight: 500 !important;
  font-size: 16px !important;
}
.btn-org:hover {
  background: #171717 !important;
}

.btn-org.btn-border {
  background: none !important;
  color: #ff5252 !important;
  border: 1px solid #ff5252 !important;
  font-weight: 500 !important;
  font-size: 16px !important;
}
.btn-org.btn-border:hover {
  background: #171717 !important;
  color: #fff !important;
  border: 1px solid #171717 !important;
}
.btn-lg {
  padding: 10px 20px !important;
  font-size: 18px !important;
}

.MuiFormControlLabel-label {
  font-size: 13px !important;
  color: rgba(0, 0, 0, 0.8);
}
.swiper-pagination-bullet-active {
  background: #ff5252 !important;
}

.homeSliderV2 .swiper-slide-active .info {
  right: 0px !important;
  opacity: 1;
}
.homeSliderV2 .swiper-slide-active .info h4 {
  right: 0px !important;
  opacity: 1;
}
.homeSliderV2 .swiper-slide-active .info h2 {
  right: 0px !important;
  opacity: 1;
}
.homeSliderV2 .swiper-slide-active .info h3 {
  right: 0px !important;
  opacity: 1;
}
.homeSliderV2 .swiper-slide-active .info .btn_ {
  bottom: 0px !important;
  opacity: 1;
}
.homeSliderV2 .swiper-slide-active .info .btn_ {
  right: 0px !important;
  opacity: 1;
}

.homeSliderV2 .info h4 {
  transition-duration: 1s !important;
}
.homeSliderV2 .info h2 {
  transition-duration: 1.4s !important;
}
.homeSliderV2 .info h3 {
  transition-duration: 1.8s !important;
}
.homeSliderV2 .info .btn_ {
  transition-duration: 1.9s !important;
}

.MuiCheckbox-root {
  padding: 6px !important;
}

.ReactCollapse--collapse {
  transition: height 400ms !important;
}

.itemViewActions button.active {
  background: #bb9999 !important;
  opacity: 1 !important;
}

.Mui-selected.MuiPaginationItem-page {
  background: #ff5252 !important;
  color: #fff !important;
}

.ZoomProductSliderThumbs .swiper-wrapper {
  padding-top: 38px !important;
}
.ZoomProductSliderThumbs .swiper-button-next {
  bottom: 0px !important;
  right: inherit !important;
  top: inherit !important;
  width: 100% !important;
  height: 20px !important;
  border-radius: 0px !important;
}
.ZoomProductSliderThumbs .swiper-button-next:after {
  transform: rotate(90deg) !important;
}
.ZoomProductSliderThumbs .swiper-button-next:hover {
  background: #ff5252 !important;
  color: white !important;
  transition: all 0.3s ease-in-out !important;
}
.ZoomProductSliderThumbs .swiper-button-prev {
  bottom: inherit !important;
  left: 0px !important;
  top: 22px !important;
  width: 100% !important;
  height: 20px !important;
  border-radius: 0px !important;
}
.ZoomProductSliderThumbs .swiper-button-prev:after {
  transform: rotate(90deg) !important;
}
.ZoomProductSliderThumbs .swiper-button-prev:hover {
  background: #ff5252 !important;
  color: white !important;
  transition: all 0.3s ease-in-out !important;
}

.productContent .actions button {
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  min-width: 40px !important;
  height: 30px !important;
  color: rgba(0, 0, 0, 0.7) !important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.reviewScroll::-webkit-scrollbar {
  width: 5px !important;
}
.reviewScroll::-webkit-scrollbar-thumb {
  background: #ccc !important;
}

.productDetailModel .MuiDialogContent-root {
  padding: 0px !important;
}

.cartPanel .MuiPaper-root {
  width: 400px;
}
#size-menu .MuiButtonBase-root {
  font-size: 12px !important;
}

#account-menu .MuiPaper-root {
  width: 200px !important;
}

.myAccountTabs li a {
  position: relative !important;
  display: block !important;
}
.myAccountTabs li a:before {
  content: "" !important;
  top: 50% !important;
  left: 0px !important;
  width: 3px !important;
  height: 50% !important;
  position: absolute !important;
  background: #ff5252 !important;
  transition: all 0.3s ease-in-out !important;
  opacity: 0 !important;
}
.myAccountTabs li a.active::before {
  height: 100% !important;
  opacity: 1 !important;
  top: 0px !important;
}
.myAccountTabs li a.active button svg {
  color: #ff5252 !important;
  opacity: 1 !important;
}
